{%extends 'layout.html'%}
{%block content%}
<div class = 'contact'>
    <h1> Contact Me </h1>

    <br><p> Reach out to me to briefly discuss my interest in relation to your needs.
        I look forward to talking to you about the available opportunities!
    </p>

    <address>
        <h3><b><u>Email:</u></b> &nbsp; <a href = "mailto:shahnitya23@gmail.com">Nitya Shah</a></h3>
        <p><center>(shahnitya23@gmail.com)</p>
    </address>

    <br>

    <h3><b><u>LinkedIn:</u></b> &nbsp; <a href = "https://www.linkedin.com/in/nityashah23/">Nitya Shah</a></h3>

{%endblock%}
