{%extends 'layout.html'%}
{%block content%}
<div class = 'work_exp'>
    <h1> Work Experience </h1>

    <br><h3><b><u> Canadian Natural Resources Limited (CNRL) </u></b></h3>
    <img src = '/static/css/images/cnrl.JPG' class = 'img_cnrl'>
    <p> Currently, I am interning at CNRL as an Electrical Engineering Student. At CNRL I am learning how to operate the DeltaV Distribution Control System (DCS)
        to complete work orders and make live changes to the plant to optimize the production of oil. Not only this, but I am using
        DeltaV DCS to perform and facilitated weekly key performance indicator (KPI) checks to identify the health of the DCS system
        and identify and take action on download flags.
    </p>
    <p> I have also operated DeltaV DCS to work on some projects. One project involved working with deviation alarms in the Secondary
        Upgrading zone of the plant, wherein I had to identify the deviation alarm in the piping & instrumentation diagrams (P&ID) drawings
        and DeltaV DCS, and redline the P&ID drawing to accommodate for the changes that required to be made accordingly.
    </p>
    <p> Another project I have been working on is the Big Rock project. This project is a sub-project of a larger-scale project. The
        larger-scaled project is a project intended for my superiors to obtain their Six Sigma - Yellow Belt Certification. For context,
        Six Sigma is a set of techniques and tools for process improvement, and there are 5 belt levels to it: White Belt, Yellow Belt,
        Green Belt, Black Belt, and Master Black Belt (in order from lowest to highest).
    </p>
    <p> Coming back to the Big Rock Project, I used VBA Code and Python to make a script to automate the auditing process for this project.
        There are many graphics and alarms configured onto DeltaV DCS, however, some of these graphics have been configured multiple times on
        different displays. This takes up room on the controllers and leaves less room for downloads and management of changes. Hence, I was
        assigned the tedious task to identify all repeating graphics in all 6 zones of the plant. The Primary Upgrading zone alone has
        approximately 14,000 graphic modules to sift through. Hence, I took the initiative to automate the auditing process for these graphic
        modules for the Big Rock project, saving many hours of tedious work for everyone.
    </p>
    <br><img src = '/static/css/images/cnrl_site.jfif' class = 'img_poster'>
    <br><center><i>Horizon Oil Sands</i></center><br>
    <b><u> Lessons Learned throughout my Internship: </b></u><br>
    <br>
        <li><i> You learn on the job! </i></li>
        <br>
        <dd> When I was starting I did not know what Distributed Control Systems were, what Advanced Process Control meant, how to operate
            DeltaV DCS, and how to code in VBA. However, I got to learn all of this on the job. With the guidance of others and using various resources
            (ie. Google), I was able to learn so much about Process Control!
        </dd>
        <br>
        <li><i> Networking </li></i>
        <br>
        <dd> Meeting new people has been an excellent way for me to get a fresh and new perspective on engineering. I have been able to see engineering
            in a new light, as people's ideas on what engineering means to them vary drastically. Not only this, but it has also given me perspective as
            to what I may want my career to be like, and how exactly I can go about progressing to it. The career advice and support I have also received has
            been amazing, as I can learn from their experiences!
        </dd>
        <br>
        <li><i> Always be Hungry to Learn More! </li></i>
        <br>
        <dd> The number one thing I have learned is to ask for more! Sitting idle is not an option! It is the time to grow, ask as many questions as I can,
            and learn as much as I can. When I finish the task at hand, I try to ask for more work or when I have not been given another task to work on
            I try to learn something else on my own related to company operations. Not only this, but I try to reach out to new people to see if they can involve
            me in some of the work they are doing to get a taste of something else I may have not encountered in the tasks/assignments I had previously been given.
        </dd>
</div>
{%endblock%}
