{%extends 'layout.html'%}
{%block content%}
<div class = 'clubs'>
    <h1> Clubs </h1>

    <br><h3><b><u> Calgary-To-Space (CubeSat Calgary) </u></b></h3>
    <br><img src = '/static/css/images/cubesat.JPG' class = 'img_center'>
    <br><p> I am a Communications Technical Member at CubeSat Calgary. As a member of the Communication team, I am researching  ways to how commands will be received from Earth, from the satellite we launch,
        how we will interpret the data sent to the ground station, and manage the ground station on Earth. My team and I need to understand this well as the communication system will be used daily. Currently,
        I am working on understanding how to extract the data from the satellite and making it more user-friendly. Hence, I am learning how to operate Grafana and Prometheus software. Further, there are
        various licenses that the team requires to obtain before launching the satellite and communicating with it, for which I am assisting with the application process.
          <p><i><b> Link to <a href = "https://www.calgarytospace.ca/">Calgary-To-Space</a> website.</i></b>
    </p>

    <br><h3><b><u> Schulich Change Leaders (SCL) </u></b></h3>
    <img src = '/static/css/images/scl.JPG' class = 'img_center'/>
    <br><p> As part of the SCL network, I have had the opportunity to learn about other students of various backgrounds and their experiences, learn about equity, diversity, and inclusion (EDI) in engineering,
        participate in engineering outreach, and develop valuable leadership skills, while fostering a community of inclusion and support on campus.
        As part of this club, I have been able to broaden my perspective, and have been more accepting of views and opinions different to mine.
    </p><br>

    <br><h3><b><u> The Diversity Advocacy Committee (DAC) </u></b></h3>
    <img src = '/static/css/images/dac.JPG' class = 'img_center'>
    <br><p> DAC is a committee that takes an initiative to represent students at the Schulich School of Engineering (SSE) by advocating and bringing awareness to current world injustices and issues.
        Through this representation, DAC takes action to make SSE a safe and inclusive community.
        As the Racial and Ethnic Diversity Director, I have taken the initiative to advocate and bring awareness to racial injustices, taken stance on key issues regarding racial/ethnic discrimination, have educated the
        student body through social media about racial/ethnic injustices, explored student opportunities to learn more about the issue through workshops, and have provided resources for students.
    </p><br>

    <br><h3><b><u> Collegiate Entrepreneurs' Organization (C.E.O.) Calgary </u></b></h3>
    <img src = '/static/css/images/ceo.png' class = 'img_center'/>
    <br><p> As executive for C.E.O. Calgary, I have been working towards creating communities of lifelong learners with the entrepreneurial skills to help facilitate the development of individuals in various other sectors of society,
        to join the global community of people working to create positive change in the world. Not only this, I am working towards creating an entrepreneurial culture through educating, inspiring, and connecting entrepreneurial thinking across Calgary.
        <p><i><b> Link to <a href = "https://www.ucalgary.ca/hunter-hub/node/151/">C.E.O. Calgary</a> website.</i></b>
    </p><br>

    <br><h3><b><u> Ask An Upper Year (AAUY) </u></b></h3>
    <img src = '/static/css/images/aauy.JPG' class = 'img_center'>
    <br><p> I am also part of the AAUY club as mentor. This club aims to provide seminars tailored to first years with reference to upper-year student experiences to allow upper-year students to build connections with first-years and
        provides them with support, and share resources and experiences to help with a smoother transition into the university community.
        <p><i><b> Link to <a href = "https://schulich.ucalgary.ca/future-students/undergraduate/find-mentor/nitya-shah/">AAUY U-Connect</a> website.</i></b>
    </p><br>

</div>
{%endblock%}
