<!DOCTYPE html>
<!-- visible part of an HTML code goes inside the body tags while links
(ie. to JAVA Script files or links to CSS files) goes on the outside of it
Those should be put inside head tags -->
<html>
  <head>
      <title>Flask App</title>
      <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'css/main.css') }}">
  </head>
  <body>
    <header>
      <div class = 'home_back'>
      <div class = 'container'>
        <span class = 'dot'></span>
        <h1 class = 'logo'><center>Nitya Shah's Portfolio</center></h1>
        <strong><nav>
          <ul class = 'menu'>
            <li><a href = "{{ url_for('home') }}">Home</a></li>
            <li><a href = "{{ url_for('projects') }}">Projects</a></li>
            <li><a href = "{{ url_for('clubs') }}">Clubs</a></li>
            <li><a href = "{{ url_for('work_exp') }}">Work Experience</a></li>
            <li><a href = "{{ url_for('contact') }}">Reach Out</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class = 'container'>
        {%block content%}
        {%endblock%}
    </div>
  </body>
</html>
