{%extends 'layout.html'%}
{%block content%}
<div class = 'projects'>
    <h1> Projects </h1>

    <br><h3><b><u> Real Life Web Applications Using Python </u></b></h3>
    <p> Since the beginning of 2022, I have challenged myself to use Python in a more applicable way. In school, coding is not taught in an applicable
        manner, hence, I wanted to use the skills I already had in Python with the integration of learning new skills to use it in a more realistic means.
        I am taking a Udemy course to aid with the process, and using what I learn from it to create a web application to resolve issues/ cater towards
        needs in my life.
    </p>
    <img src = '/static/css/images/covid-map.JPG' class = 'img_poster'>
    <center><i> COVID-19 Map Web Application </i></center>

    <p><i><b> More information of the different Web Applications I have built using Python can be found on my
    <a href = "https://github.com/shahnitya23/Python-Projects">GitHub</a>!</i></b>

    <br><h3><b><u> Biometric Tehnologies Laboratory </u></b></h3>
    <p> In the Summer of 2021, I worked with the Biometric Tehnologies Laboratory as an undergraduate student reasercher.
        I was involved with research relating to assessing post-stroke motor function weakness using pressure sensor data at Foothill's Hospital in
        Calgary, Alberta. During my research term, one of the things I did was actively take part in literature reviews to understand
        how pressure datasets, stroke movement detection, and time series analysis had been previously. Not only this, but also to understand how
        different modalities and experiments in stroke movement detection, common ways of assessing time series, and exploring available pressure
        datasets - and how these findings relate and can/cannot be used for the purposes in the experiment I was working on at hand.
    </p>
    <p> Moreover, coming back to the experiment, pressure sensor data from the patients were collected using a pressure distribution mattress, however,
        often when the patient left their bed it still recorded information (blank datasets were recorded), hence, some of the frames of data
        collected from them were not useful. There were millions of these dataset frames to sift through for each patient to find the couple
        thousand dataset frames which are of no use. Hence, I was working on a script in Python to help with translating the approximately 3 million
        frames of dataset frame files into a summarized output file. In addition to preprocessing the pressure sensor datasets, I also wrote the
        draft and final research papers with the help of the Master student I worked under, to submit to the IEEE (Institute of Electrical and Electronics Engineers).
    </p>
    <img src = '/static/css/images/Research Paper.JPG' class = 'img_poster'>
    <p><i><b> Link to my research paper on <a href = "https://ieeexplore.ieee.org/abstract/document/9660027">Assessment of Post-Stroke
        Motor Function Weakness using Pressure Sensor Data</a></i></b></p>
    <p>
        During my research term, I also worked on another research paper wherein I had to collect data for equality, diversity, and inclusivity in
        STEM fields in Canadian universities to survey the effectiveness of funding and programs provided.
    </p>

    <br><h3><b><u> Integrated Learning Stream </u></b></h3>
    <p> During the Winter 2021 semester, my group and I worked on the ILS - Third Eye Project.
        The Third Eye is a navigational device designed to aid individuals with visual impairment in overcoming their everyday obstacles.
        With the traditional solution, such as guide dogs and canes, often overhead objects go undetected, however, the Third Eye helps resolve this issue by signaling the user of obstructing overhead objects.
        Hence, the Third Eye offers an affordable enhancement to these traditional solutions used by the visually impaired community.<br>
        <br><img src = '/static/css/images/ils.JPG' class = 'img_poster'>
        <p><i><b> Link to my <a href = "https://ils-enel300-portfolio-ns.blogspot.com/">Winter 2021 Portfolio</a> website.</i></b>
    </p>

</div>
{%endblock%}
