{%extends 'layout.html'%}
{%block content%}
<div class = 'home'>
    <h1> Homepage </h1>

    <img src = 'static/css/images/me.jpg' class = 'img_center'>
    <center><b> Nitya Shah </b></center>
    <br><p> Hey there! My name is Nitya Shah, I am a 20-years-old student attending the University of Calgary for <i><b>Electrical</b></i> (major) and <i><b>Biomedical</b></i> (minor) <b><i>Engineering</b></i>.
        Outside of being a student, I love to go for walks/hikes in Banff National Park, enjoying painting and dance!
        <i>(Fun Fact: I am a competitive dancer, and my team has won a dance competition against Vancouver, L.A., and Edmonton!)</i>
    </p><br>
    <img src = 'static/css/images/uofc.jpg' class = 'img_center'>
    <br><p> Moreover, on campus I am also involved in multiple clubs.
        The clubs I am involved with are: Calgary-To-Space, Schulich Change Leaders (SCL), Diversity Advocacy Committee (DAC), Collegiate Entrepreneurs' Organization (C.E.O.) Calgary, and Ask An Upper Year (AAUY).
        More information on these clubs can be found under the Clubs tab!
    </p>
    <p> Furthermore, as a student at UofC I have learned a ton of concepts & theories in subjects relating to Electrical & Biomedical Engineering.
        Learning these concepts & theories gave me a better understanding of the newly introduced topics, and allowed me to conceptualize how they are intended to work/implemented.
        However, I would like to bridge the gap between the theoretical concepts taught in class to a more practical experience.
        Practical experience can help with reinforcing and validating classroom  learning and give a more well-rounded understanding of the concepts and ideas.
        Some of the projects I have worked on during my time at UofC to support this can be found under the Projects tab!
    </p>
</div>
{%endblock%}
